<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="utf-8">
    <link href="{{ url_for("static", filename="css/base.css") }}" rel="stylesheet">
    <link href="{{ url_for("static", filename="css/real.css") }}" rel="stylesheet">
    <link href="{{ url_for("static", filename="css/login_style.css") }}" rel="stylesheet">
    <link href="{{ url_for("static", filename="css/index_style.css") }}" rel="stylesheet">
    <link href="{{ url_for("static", filename="css/post_style.css") }}" rel="stylesheet">
    <link href="{{ url_for("static", filename="css/user_style.css") }}" rel="stylesheet">
    <link href="{{ url_for("static", filename="css/menu_style.css") }}" rel="stylesheet">
</head>
<body>
    {% with messages = get_flashed_messages() %}
    {% if messages %}
    {% endif %}
    {% endwith %}
    {% block content %}{% endblock %}
</body>
</html>